<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Shop Main</title>
    <link rel="stylesheet" href="/css/styles.css" />
    <link rel="icon" href="https://i.imgur.com/bj8qVp7.png" />
</head>
<body>
    <nav>
        <ul>
            <li><a href="/shop/new">Add New Item</a></li>
        </ul>
    </nav>
    <h1>Mamaele's Pastry</h1>
    <h2 id="tagline">✦ tzuker-zis ✦</h2>
    <ul id="productList">
        <% products.forEach(product => { %>
            <li class="productItem"><a href="/shop/<%=product._id;%>"><img src="<%= product.image %>" alt="<%= product.name %>" width="200";></li></a>
            
        <% }) %>
    </ul>
</body>
</html>