<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>New Shop Item</title>
</head>
<body>
    <div class="container">
        <div class="sidebar"></div>
        <div class="newItemForm">
            <h1>New Shop Item</h1>
            <form action="/shop" method="POST" class="userForm">
                <!-- name -->
                <label for="name">NAME</label>
                <input type="text" id="name" name="name" />
                <!-- description -->
                <label for="description">DESCRIPTION</label>
                <input type="text" id="description" name="description"/>
                <!-- image -->
                <label for="image">IMAGE</label>
                <input type="text" id="image" name="image"/>
                <!-- price -->
                <label for="price">PRICE</label>
                <input type="number" id="price" name="price"/>
                <!-- quantity -->
                <label for="qty">QUANTITY</label>
                <input type="number" id="qty" name="qty"/>
                <!-- submit button -->
                <input type="submit" value="ADD NEW ITEM" name="">
            </form>
        </div>
    </div>  
</body>
</html>
