<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>New Shop Item</title>
    <link rel="stylesheet" href="/css/styles.css" />
    <link rel="icon" href="https://i.imgur.com/bj8qVp7.png" />
</head>
<body>
    <nav>
        <ul>
            <li><a href="/shop">Back to Products</a></li>
        </ul>
    </nav>
    <h1>Mamaele's Pastry</h1>
    <h2 id="tagline">✦ tzuker-zis ✦</h2>
    <div class="container">
        <div class="sidebar"></div>
        <div class="newItemForm">
            <h3 id="formHeader">New Shop Item</h3>
            <form action="/shop" method="POST" class="userForm">
                <!-- name -->
                <label for="name">NAME</label>
                <input type="text" id="name" name="name" />
                <!-- description -->
                <label for="description">DESCRIPTION</label>
                <input type="text" id="description" name="description"/>
                <!-- image -->
                <label for="image">IMAGE</label>
                <input type="text" id="image" name="image"/>
                <!-- price -->
                <label for="price">PRICE</label>
                <input type="number" id="price" name="price"/>
                <!-- quantity -->
                <label for="qty">QUANTITY</label>
                <input type="number" id="qty" name="qty"/>
                <!-- submit button -->
                <input type="submit" value="ADD NEW ITEM" name="">
            </form>
        </div>
    </div>  
</body>
</html>
