/* Imports & Roots */
@import url('https://fonts.googleapis.com/css2?family=Berkshire+Swash&family=Lato:wght@400;700&family=Plus+Jakarta+Sans:wght@400;700&display=swap');

:root {
    --pink: #FAF4F2;
    --dpink: #f5e3e7;
    --red: #CD5334;
}

/* GENERAL */
body {
    /* background: linear-gradient(135deg,rgb(238,238,238) 0%,rgb(169,184,195) 100%); */
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #fff;
    font-family: 'Plus Jakarta Sans', sans-serif;
}

* {
    -webkit-font-smoothing: antialiased;
}

nav {
    position: fixed;
    top: 0;
    width: 100%;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    padding: 0.5em;
    background: var(--pink);
}

.productContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1.5em;
}
/* HEADERS */

h1 {
    padding: 0.5em 0 0 0;
    font-family: 'Berkshire Swash', cursive;
    font-size: 5em;
    text-align: center;
    color: var(--red);
}

#tagline {
    font-size: 1.5em;
    font-style: italic;
    color: var(--red);
    margin: -2.5em auto auto auto;
}

.showName {
    margin: 0 auto;
    font-size: 2.5em;
}

#formHeader{
    margin: 2em 1em 0em 1em;
}
/* FORMS */
.userForm {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 50vh
}

.userForm > label {
    margin: 1em 0em 0em 0em;
}

/* LINKS */
a {
    color: #000;
    text-decoration: none;
    transition: 0.15s;
}

a:hover {
    /* color: #00f; */
    color: var(--red);
}

.editLink {
    margin: 0 auto;
    padding: 0;
    font-size: 0.75em;
    font-style: italic;
    opacity: 60%
}

span{
    font-size: 1.5em;
}

/* Lists */
nav > ul {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 100%;
    list-style: none;
    padding: 0;
}

#productList {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    width: 60vw;
    padding: 1em;
    list-style: none;
}

#productDetails {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    width: 35vw;
    list-style: none;
    padding-left: 0;
    text-align: center;
}

#productDetails > li {
    padding: 0.3em;
}
/* Images */
image {
    max-height: 100%;
    width: auto;
}
.productItem>a>img {
    padding: 0.5em;
    opacity: 70%;
}

.productItem>a>img:hover {
    opacity: 100%;
    transition: 0.3s
}

/* Buttons */
input[type=submit] {
    background: #000;
    color: var(--pink);
    border: 0px;
    border-radius: 5px;
    padding: 1em;
    margin: 1em;
    font-weight: 700;
    transition: 0.15s
}

input[type=submit]:hover {
    background: #333;
}

input[type=submit]:focus {
    background: var(--red);
}

#delete{
    margin: 0.5em;
    width: 100px;
    opacity: 40%;
    font-size: 0.65em;
}

#buy{
    margin: 0.5em;
    width: 100px;
    font-size: 1.10em;
}
/* MEDIA QUERIES*/
@media (min-width: 320px) and (max-width: 480px) {

    nav {
        padding: 0.15em;
    }
  
    h1{
        padding: 0.75em 0 0 0;
        font-size: 2.5em;
    }

    #tagline {
        font-size: 1em;
        font-style: italic;
        color: var(--red);
        margin: -1.5em auto auto auto;
    }
    
}